body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(246, 248, 250);
}

header{
    background: rgb(35, 39, 47);
    color: rgb(255, 255, 255);
    text-align: center;
    padding:2rem 0;
}

nav{
    display: flex;
    justify-content: center;
    gap:3rem;
    background: #fff;
    padding:1rem 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);

}

nav a{
    color: #23272f;
    text-decoration: none;
    font-weight: bold;
    transition:color 0.2s;
}

nav a:hover{
    color: #0070f3;
}

section{
    max-width: 600px;
    margin: 2rem auto;
    padding:1.5rem;
    background: #fff;
    border-radius:8px;
    box-shadow:  0 2px 8px rgba(0,0,0,0.4);
}

footer{
    text-align: center;
    padding: 1rem 0;
    background: #23272f;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
form{
    display: flex;
    flex-direction: column;
    gap:1rem;
    background: #f9f9f9;
    padding: 1.5rem;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.6);

}

form label{
    font-weight:500;
    color: #23272f;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

form input, from textarea{
    padding: 0.7rem 1rem;
    border: 1px solid #d1d5db;
    border-end-start-radius: 4px;
    font-size: 1rem;
    background: #fff;
    resize:vertical;
    font-family: inherit;
    transition: border 0.2s;
}

form input:focus,form textarea:focus{
    outline: none;
    border-color: #0070f3;
    background-color: #f0f7ff;

}

form button[type="submit"]{
    padding: 0.7rem 1.5rem;
    background-color: #0070f3;
    color:#fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size:1rem;
    cursor: pointer;
    transition:  background 0.2s;
    align-self: self-start;
    margin-top:0.5rem;

}

form button[type="submit"]:hover{
    background-color: #0059c9;
}
